<!DOCTYPE html>
<html>
<head>
    <title> Stock Buyer </title>
    <link href="/stylesheets/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<% if (typeof js_includes !== 'undefined') { %>
    <% for(var i=0; i < js_includes.length; i++) { %>
        <script src="<%= js_includes[i] %>"></script>
    <% }%>
<% }%>

<div class = "panel-heading" style="float:right;">
    <% if(typeof first_name !== "undefined") { %>
    Welcome, <%= first_name %>
    <br />
    Share Amount : $<%=money%>
    <br/>
    <a href="/logout">Logout</a>
    <% } else { %>
    <a href="/login">Login</a>
    <% } %>
</div>
<%include nav.ejs%>