<ul class="nav nav-pills">
    <li role="presentation"><a href="/about"> About </a><br />
    <li role="presentation"><a href="/user"> User Details </a><br />
    <li role="presentation"><a href="/stock/all"> View Stocks</a><br />
    <li role="presentation"><a href="/rate/all/?sortRate=0">View Stock Ratings</a><br />
    <li role="presentation"><a href="/watch/all">View Watch List</a><br />
    <li role="presentation"><a href="/user/all">View All Accounts</a><br />
    <li role="presentation"><a href="/rate/create">Rate A Stock</a><br />
    <li role="presentation"><a href="/user/create">Create An Account</a><br />
    <li role="presentation"><a href="/stock/create">Create New Stock</a>
</ul>