<% include ../partials/header.ejs %>
<div class="container text-center">
<div id="test"></div>
<% if (typeof message !== 'undefined') { %>
<div><%= message %></div>
<% } %>
<% if(rs.length > 0) { %>
<h1>Edit Card</h1>
<form method="POST" action="/card/update_card">
    <input type="hidden" name="user_id" value="<%= rs[0].User_ID %>" />
    <div class="input-group">
        <span class="input-group-addon" id="sizing-addon2">Card Number</span>
        <input type="text" id="card_number" name="card_number" value="<%=rs[0].card_number%> "/>
    </div><br />
    <div class="input-group">
        <span class="input-group-addon" id="sizing-addon2">Expiration Date</span>
        <input type="date" id="exp_date" name="exp_date" value="<%= rs[0].expiration_date%>" />
        <br />
    </div><br />
    <button id="addBtn">Edit</button>
</form>
<% } else { %>
No card that matches that ID.
<% } %>
</div>
<% include ../partials/footer.ejs %>