<% js_includes = []%>
<% include ../partials/header.ejs %>
<div class="container text-center">
<h1>Add a New Card</h1>
<form method="POST" action="/card/insert_card">
    <input type="hidden" name="user_id" value="<%= user.User_ID %>" />
    <div class="input-group">
        <span class="input-group-addon" id="sizing-addon2">Card Number</span>
        <input type="text" id="card_number" name="card_number" />
    </div><br />
    <div class="input-group">
        <span class="input-group-addon" id="sizing-addon2">Expiration Date</span>
        <input type="date" id="exp_date" name="exp_date">
    </div><br />
    <button id="addBtn">Add</button>
</form>
</div>
<% include ../partials/footer.ejs %>