<% include ../partials/header.ejs %>
<div class="container text-center">
    <% if(rs.length > 0) { %>
    <table border="1" class="table">
        <tr><th>Card Number</th><th>Expiration Date</th></tr>
        <% for (var i=0; rs.length > i; i++) { %>
        <tr>
            <td><%= rs[i].card_number %></td>
            <td><%= rs[i].expiration_date%></td>
            <td>
                <a href="/card/delete/?user_id=<%= rs[i].User_ID %>&card_number=<%= rs[i].card_number %>">Delete</a>
                <a href="/card/edit/?user_id=<%= rs[i].User_ID %>&card_number=<%= rs[i].card_number %>">Edit</a>
            </td>
        </tr>
        <% } %>
    </table>
    <% } else { %>
    No cards exist.
    <% } %>
</div>
<div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default"
                onclick="location.href='/card/create'">Add A Card</button>
    </div>
</div>

<% include ../partials/footer.ejs %>