<% js_includes = ['https://code.jquery.com/jquery-1.12.3.min.js',
    '/javascripts/watch_ajax.js']%>

<% include ../partials/header.ejs %>

<div>
    <% if(rs.length > 0) { %>
    <table border="1" class="table">
        <tr><th>Symbol</th> <th>Company</th><th>Price</th></tr>
        <% for (var i=0; rs.length > i; i++) { %>
        <tr>
            <td> <a href="/stock/?stock_id=<%= rs[i].Stock_ID %>"><%= rs[i].symbol %></a> </td>
            <td> <%= rs[i].company %> </td>
            <td> <%= rs[i].price_per_stock %> </td>
            <td>
                <a href="/watch/delete/?stock_id=<%= rs[i].Stock_ID %>&user_id=<%= user.User_ID %>">Remove</a>
            </td>
        </tr>
        <% } %>
    </table>
    <% } else { %>
    There are no stocks in your Watch List.
    <% } %>
</div>

<form>
    <input type="hidden" id = "user_id" name="user_id" value="<%= user.User_ID %>" />
    <div class = "container text-center">
    <div class="styled-select">
        Stocks(s):
        <select name = "stock_id" id = "stock_id">
            <% for (var j=0; stocks.length > j; j++) { %>
            <option value = "<%= stocks[j].Stock_ID %>"><%= stocks[j].symbol %></option >
            <% } %>
        </select>
    </div>
    <button id="addBtn">Add to Watch List</button>
    </div>
</form>

<% include ../partials/footer.ejs %>