<%include partials/header.ejs%>
<div class = "text-center">
Company Info:<br/>
This website was created to allow users to buy, sell, and rate stocks.
    The developer of this website is Fern Vue. Below is his contact information.
    <br/>
    Website: <a href ="http://www.fakenamegenerator.com">www.fakenamegenerator.com</a><br/>
    Phone: 260-212-5293<br/>
    Address: 119 New Creek Road South Bend, IN 46625<br/>
</div>
<%include partials/footer.ejs%>

