<%include partials/header.ejs%>
<div class="container text-center">
    Stock Buyer<br/>
<iframe src="//giphy.com/embed/6efQbMb3HhhG8" width="480" height="50" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="http://giphy.com/gifs/forums-tools-market-6efQbMb3HhhG8"></a></p>
</div>
<%include partials/footer.ejs%>