<% include ../partials/header.ejs %>
<div class = "text-center">
<% if(rs.length > 0) { %>
<h1>User: <%= rs[0].first_name %> <%= rs[0].last_name %></h1>
Bought Stocks <br/>
</div>
<table border="1" class="table">
    <tr><th>Stock Symbol</th><th>Price</th></tr>
    <% for(var i=0; i < bs.length; i++) {%>

    <tr>
        <td><%= bs[i].symbol %></td>
        <td><%= bs[i].price_per_stock %></td>
        <td>
            <a href="/buy/delete/?stock_id=
                <%= bs[i].Stock_ID %>&user_id=<%= bs[i].User_ID %>">Sell</a>
        </td>
    </tr>
    <% } %>
</table>
<div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group" role="group">
        <button type="button" onclick="location.href='/user/edit/?user_id=<%= rs[0].User_ID%>'"
                class="btn btn-default">Edit User Information</button>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default"
                onclick="location.href='/card'">Card Information</button>
    </div>
</div>
<% } else { %>
No user matched user id <%= user_id %>.
<% } %>

<% include ../partials/footer.ejs %>