<% include ../partials/header.ejs %>
<div>
    <% if(rs.length > 0) { %>
    <table border="1" class="table">
        <tr><th>First Name</th> <th> Last Name</th></tr>
        <% for (var i=0; rs.length > i; i++) { %>
        <tr>
            <td> <%= rs[i].first_name %></td>
            <td> <%= rs[i].last_name %></td>
            <td>
                <a href="/user/delete/?user_id=<%= rs[i].User_ID %>">Delete</a>
                <a href="/user/edit/?user_id=<%= rs[i].User_ID%>">Edit</a>
            </td>
        </tr>
        <% } %>
    </table>
    <% } else { %>
    No users exist.
    <% } %>
</div>

<% include ../partials/footer.ejs %>