<% var js_includes = ['https://code.jquery.com/jquery-1.12.3.min.js',
    '/javascripts/sign_up_ajax.js']%>
<% include ../partials/header.ejs %>
<h1>Create A User</h1>
<form>
    <div class="input-group">
        <span class="input-group-addon" id="sizing-addon2">First Name</span>
        <input type="text" id="firstname" name="firstname" />
    </div><br />
    <div class="input-group">
        <span class="input-group-addon" id="sizing-addon2">Last Name</span>
        <input type="text" id="lastname" name="lastname" />
    </div><br />
    <div class="input-group">
        <span class="input-group-addon" id="sizing-addon2">Email</span>
        <input type="text" id="email" name="email" />
    </div><br />
    <div class="input-group">
        <span class="input-group-addon" id="sizing-addon2">Password</span>
        <input type="password" id="password" name="password" />
    </div><br />
    <button id= "submit">Submit</button>
</form>

<% include ../partials/footer %>