<% include ../partials/header.ejs %>

<div id="test"></div>
<% if (typeof message !== 'undefined') { %>
<div><%= message %></div>
<% } %>
<% if(rs.length > 0) { %>
<div class="container text-center">
<h1>Edit User</h1>
<form method="POST" action="/user/update_user">
    <input type="hidden" name="user_id" id= "user_id" value="<%= rs[0].User_ID %>" />
    First Name <input type="text" id="first_name" name="first_name" value="<%= rs[0].first_name%>" />
    <br />
    Last Name <input type="text" id="last_name" name="last_name" value="<%= rs[0].last_name%>" />
    <br />
    Email <input type="text" id="email" name="email" value="<%= rs[0].email%>" />
    <br />
    New password <input type="password" id="password" name="password" value="<%= rs[0].password%>" />
    <br />
    <br />
    <button id="addBtn">Apply Changes</button>
</form>
<% } else { %>
No users matches that ID.
<% } %>
</div>
<% include ../partials/footer.ejs %>