<% include ../partials/header.ejs %>
<div>
    <% if(rs.length > 0) { %>
    <table border="1" class="table">
        <tr><th>Stock Symbol</th><th>Price Per Stock</th></tr>
        <% for (var i=0; rs.length > i; i++) { %>
        <tr>
            <td>
                <a href="/stock/?stock_id=<%= rs[i].Stock_ID %>">
                    <%= rs[i].symbol %></a>
            </td>
            <td><%= rs[i].price_per_stock%></td>
            <td>
                <a href="/stock/delete/?stock_id=<%= rs[i].Stock_ID %>">Delete</a>
                <a href="/stock/edit/?stock_id=<%= rs[i].Stock_ID %>">Edit</a>
            </td>
            <%if(typeof first_name != "undefined") {%>
            <td>
                <a href="/buy/insert/?stock_id=<%= rs[i].Stock_ID %>&user_id=<%=user.User_ID%>">Buy</a>
            </td>
            <%}%>
            <td>
                <a href="/rate/create/?stock_id=<%= rs[i].Stock_ID%>">Rate</a>
            </td>
        </tr>
        <% } %>
    </table>
    <% } else { %>
    No stocks exist.
    <% } %>
</div>

<% include ../partials/footer.ejs %>