<% include ../partials/header.ejs %>
<div class = "text-center">
<% if(rs.length > 0) { %>
Symbol: <%= rs[0].symbol %>
<br />
Company: <%= rs[0].company%>
<br />
Price Per Share: <%= rs[0].price_per_stock%>
<br/>
    <a href="/stock/edit/?stock_id=<%= rs[0].Stock_ID %>">Edit</a>
    <a href="/stock/delete/?stock_id=<%= rs[0].Stock_ID %>">Delete</a>
<%if(typeof first_name !== "undefined") {%>
<a href="/buy/insert/?stock_id=<%= rs[0].Stock_ID %>&user_id=<%=user.User_ID%>">Buy</a><br />
<a href="/rate/create/?stock_id=<%= rs[0].Stock_ID%>">Rate</a>
<% } %>
<% } else { %>
No stock matched stock id <%= stock_id %>.
<% } %>
</div>
<% include ../partials/footer.ejs %>