<% js_includes = []%>
<% include ../partials/header.ejs %>

<h1>Create A Stock</h1>
<form method="POST" action="/stock/insert_stock">
    <div class="input-group">
        <span class="input-group-addon" id="sizing-addon2">Symbol</span>
    <input type="text" id="symbol" name="symbol" />
    </div><br />
    <div class="input-group">
        <span class="input-group-addon" id="sizing-addon2">Company</span>
    <input type="text" id="company" name="company"/>
    </div><br />
    <div class="input-group">
        <span class="input-group-addon" id="sizing-addon2">Price</span>
    <input type="text" id="price" name = "price">
    </div><br />

    <button id="addBtn">Add</button>
</form>

<% include ../partials/footer.ejs %>