<% include ../partials/header.ejs %>

<div class="container text-center">
<div id="test"></div>
<% if (typeof message !== 'undefined') { %>
<div><%= message %></div>
<% } %>
<% if(rs.length > 0) { %>
<h1>Edit Stock</h1>
<form method="POST" action="/stock/update_stock">
    <input type="hidden" name="stock_id" value="<%= rs[0].Stock_ID %>" />
    Symbol <input type="text" id="symbol" name="symbol" value="<%= rs[0].symbol%>" />
    <br />
    Company <input type="text" id="company" name="company" value="<%= rs[0].company%>" />
    <br />
    Price <input type="text" id="price" name="price" value="<%= rs[0].price_per_stock%>" />
    <br />
    <button id="addBtn">Edit</button>
</form>
<% } else { %>
No stock matches that ID.
<% } %>
</div>
<% include ../partials/footer.ejs %>