<% js_includes = ['https://code.jquery.com/jquery-1.12.3.min.js',
    '/javascripts/rate_sort_ajax.js']%>
<% include ../partials/header.ejs %>

<div class="row text-center">
    <div class="col-lg-6">
        <div class="input-group">
            <input type="text" class="form-control" id = "sortRate" name = "sortRate" placeholder="Sort by Rating">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" id = "sort">Sort</button>
      </span>
        </div>
    </div>
</div>

<div>
    <% if(rs.length > 0) { %>
    <table border="1" class="table">
        <tr><th>Symbol</th> <th> Average Rating</th></tr>
        <% for (var i=0; rs.length > i; i++) { %>
        <tr>
            <td> <a href="/stock/?stock_id=<%= rs[i].Stock_ID %>"><%= rs[i].symbol %></a> </td>
            <td> <%= rs[i].avg_rating %> </td>
            <td>
                <a href="/rate/create/?stock_id=<%= rs[i].Stock_ID%>">Rate</a>
            </td>
        </tr>
        <% } %>
    </table>
    <% } else { %>
    No ratings exist.
    <% } %>
</div>

<% include ../partials/footer.ejs %>