<% js_includes = ['https://code.jquery.com/jquery-1.12.3.min.js',
    '/javascripts/rate_ajax.js']%>
<% include ../partials/header.ejs %>
<div class="container text-center">
<h1>Rate a Stock</h1>
<form>
    <input type="hidden" id = "user_id" name="user_id" value="<%= user.User_ID %>" />
    Stocks(s)<br />
    <div class="styled-select">
        <select name = "stock_id" id = "stock_id">
            <% for (var i=0; stocks.length > i; i++) { %>
            <option
                    <%if(getParameterByName("stock_id") == stocks[i].Stock_ID) {%>
                    selected
                    <% }%>
                    value = "<%= stocks[i].Stock_ID %>"><%= stocks[i].symbol %></option >
            <% } %>
        </select>
    </div>

    <div class="styled-select">
        <select name = "rating" id = "rating">
            <% for (var r=0; 10 >= r; r++) { %>
            <option value = "<%=r%>%>"><%=r%></option >
            <% } %>
        </select>
    </div>
    <button id="addBtn">Add Rating</button>
</form>
</div>
<% include ../partials/footer.ejs %>